<div class="add">
    <Sidebar/>
    <div class="main-content">
        <h1 class="add-h">Add Money to Wallet</h1>
        <div class="add-div-1">
            <a>Add Amount</a>
            <h2>Available Amount: <span class="add-div-1-s">&#8377;{{this.money}}.00</span></h2>
            <form {{on "submit" this.addAmount}} {{on-key "Enter"}}>
                <input type="number" placeholder="Enter Amount" value={{this.adding}} {{on "input" this.updateAmount}} class="add-div-1-input" required/>
                <button type="submit" class="submit">Add Amount</button>
            </form>
            <button class="back" type="button" {{on "click" this.back}}>Back</button>
        </div>
    </div>
</div>