<div class="t-container">
    <Sidebar/>
    <div class="t-table-div main-content">
        <div class="t-header">
            <a class="t-h">Wallet History</a>
            <div class="w-index-filter">
                <div class="t-filter" {{on "click" this.toggle}}>
                    <span class="f-span-2">Filter</span>
                    <div class="wallet-dropdown {{if this.isShow "display"}}">
                        <a {{on "click" (fn this.select "All")}}>All</a>
                        <a {{on "click" (fn this.select "Debit")}}>Debit</a>
                        <a {{on "click" (fn this.select "Credit")}}>Credit</a>
                        <a {{on "click" (fn this.select "Refund")}}>Refund</a>
                    </div>
                </div>
                <div class="w-index-btn-div" {{on "click" this.index}}>
                    <a class="w-index-back-btn">Back</a>
                </div>
                
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Current Balance</th>
                </tr>
            </thead>
            <tbody>
                <VerticalCollection
                    @items={{this.walletHistory}}
                    @estimateHeight={{74}}
                    @containerSelector='.t-table-div'
                    @staticHeight={{false}}
                    @bufferSize={{4}}
                    @renderAll={{false}}
                    @firstReached={{perform this.firstReached}}
                    @lastReached={{perform this.lastReached}}
                    as |trans index|>
                    <tr>
                        <td>{{add index 1}}</td>
                        <td><span class="t-name">{{trans.name}}</span></td>
                        {{#if trans.status}}
                            <td class="profit">+&#8377;{{trans.amount}}.00</td>
                        {{else}}
                            <td class="loss">-&#8377;{{trans.amount}}.00</td>
                        {{/if}}
                        <td>{{trans.date}}</td>
                        {{#if (rem trans.id 2)}}
                            <td><span class="t-green">{{trans.category}}</span></td>
                        {{else}}
                            <td><span class="t-orange">{{trans.category}}</span></td>
                        {{/if}}
                        <td><span class="cur-bal">&#8377;{{trans.curBal}}.00</span></td>
                    </tr>
                </VerticalCollection>
            </tbody>
        </table>
    </div>
</div>