<div class="wallet-subs">
    {{#each this.flashMessages.queue as |flash|}}
        <FlashMessage @flash={{flash}} />
    {{/each}}
    <h1 class="heading">Digital Wallet & Subscriptions Tracker</h1>
    <div class="wallet">
        <h2>Digital Wallet</h2>
        <h3 class="wallet-h">
            Wallet Amount: <span class="wallet-s">&#8377;{{this.money}}.00</span>
        </h3>
        <button class="wallet-b" type="button" {{on "click" this.addMoney}}>Add Money</button>
    </div>
    <div class="line">

    </div>
    <div class="subs-container">
        <button class="subs-b" type="button" {{on "click" this.addSubs}}>Add Subscription</button>
        {{#if this.isSub}}
            <h2>Subscriptions</h2>
        {{/if}}
        <div class="subs-div">
            {{#if this.isSub}}
                {{#each this.subs as |sub|}}
                    <div class="sub-card">
                        <h3>{{sub.name}}</h3>
                        <a>Total Amount: <span>&#8377;{{sub.amount}}.00</span></a>
                        <a>Billing: <span>{{sub.billing}}</span></a>
                        <a>Plan: <span>{{sub.plan}}</span></a>
                        <a>Category: <span>{{sub.category}}</span></a>
                        <div class="card-btns">
                            <LinkTo @route="subs-edit" @model={{sub.id}} class="edit">Edit</LinkTo>
                            <button class="del-btn" type="button" {{on "click" (fn this.delete sub)}}>Delete</button>
                        </div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>